{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"}
<html lang="es">
    <head>
        <link href="{{ STATIC_URL }}/static/css/css.css" rel="stylesheet" type="text/css">
        <title>{% block title%}{% endblock %}</title>
    </head>
    <body>
        {% block head %}
        <div id="head">
            <img src="{{ STATIC_URL }}/static/img/head.jpg" />       
        </div>    
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block footer %}
            <div id="footer">
                <p>¡Gracias por su visita!</p>
            </div>
            {% endblock %}
    </body>

</html>
