{% extends "base.html" %}
{% block title %} Vista principal del Planet {% endblock %}
{% block content %}
<div id="menu">
Mi menu:
</div>

<div id="content">
    <h1>Mi planeta infinito</h1>
     <h2>Post de los blog activos: </h2>

    {% if post_list %}
        <div class="bloglist">
            {% for post in post_list %}
            <div class="blog"> <div class="blog-title"><a href="{{ post.link }}"> {{ post.title }} </a></div>
                <div class="blog-sub"> <span class="blog-date">Fecha: {{ post.date_format }}</span> | <span class="blog-author"> Autor: {{ post.author }}</span></div>
                 <div class="blog-content">{{ post.content|safe }} </div>
            </div>
             <p> --- ~~~~ --- </p>
            {% endfor %}
        </div>
    {% else %}
         <p> No se pueden procesar los posts </p>
    {% endif %}


    {% for post in posts_list %}
        {# Each "post" is a Blogt model object. #}
        {{ blog.title|upper }}<br />
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if post_list.has_previous %}
            <a href="?page={{ blogs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{post_list.number }} of {{ post_list.paginator.num_pages }}.
        </span>
        (
        {% for i in page_number %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endfor %}
        
        )
        {% if post_list.has_next %}
            <a href="?page={{ post_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>

<div id="column">

   {% if enable_list %}
   <h2><a href="/planet/bloglist/">Blogs que intervienen:</a></h2>
     <ul>
            {% for blog in enable_list %}
            <li><a href="{{ blog.link }}">{{ blog.name }}</a> por {{blog.author}} </li>
            {% endfor %}
     </ul>      
    {% else %}
        <p>No hay blogs a mostrar </p>
    {% endif %}

</div>


{% endblock %}

